body {
    background-image: url('bg3.svg');
    background-repeat: repeat-y;
    background-color: #140021;
}

.center {
    background-color: white;
    min-height: 500px;
}

.prueba {
    position: absolute;
    top: 50%;
    left: 50%;
 }
