:root {
    --c-warning: #ffbdbd;
    --c1: #83A638;
    --c2: #6F8A45;
    --c3: #5E7330;
    --c4: #404040;
    --c5: #262626;
}

.bg-alert {
    background-color: var(--c-warning);
}

.btn-ban {
    background-color: rgb(255, 146, 146);
}

.btn-unban {
    background-color: rgb(255, 210, 142);
}

.btn-edit {
    background-color: rgb(173, 216, 245);
}

.btn-remove {
    background-color: rgb(213, 173, 245);
}

.linkIndexPost {
    color: var(--c5);
    font-weight: bold;
}

.linkIndexPost2 {
    color: #FFF;
    font-weight: bold;
}

.nav-link:hover {
    color: white;
}

.headshot {
    background-size: cover;
    background-position: center;
    height: 100px;
    
}